<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright {2017} {Shudipto Trafder}
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.shudiptotrafder.soilscience">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.BackupSettingsActivity"
            android:label="@string/sbackup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.AdvanceSettingsActivity"
            android:label="@string/sAdvance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavouriteActivity"
            android:label="@string/title_activity_favourite"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.shudiptotrafder.soilscience.MainActivity" />
        </activity>
        <activity
            android:name=".UserAddActivity"
            android:label="@string/title_activity_user_add"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blogspot.shudiptotrafder.soilscience.MainActivity" />
        </activity>
        <activity
            android:name=".theme.ColorActivity"
            android:label="@string/title_activity_color"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAppIntro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- provider -->
        <provider
            android:name=".data.DataProvider"
            android:authorities="com.blogspot.shudiptotrafder.soilscience"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.searchhistorydatabase"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <!-- services -->
        <service
            android:name=".services.DataService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.UploadServices"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".widget.AppWidgetInfo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>
        <receiver android:name=".widget.SearchWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/search_widget_info" />
        </receiver>
    </application>

</manifest>